.layout {
   display: flex;
   flex-direction: column;
   min-height: 100vh; /* Ensures the page is at least the height of the viewport */
}

.main {
   flex-grow: 1; /* Pushes the footer to the bottom if content is short */
}

footer {
   margin-top: auto; /* Ensures footer is always pushed down */
}
