.carouselContainer {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   padding: 20px 0;
   overflow: hidden;
   position: relative;
   width: 100%;
}

.navButton {
   background: none;
   border: none;
   font-size: 32px;
   cursor: pointer;
   color: var(--Color-Highlight);
   transition: color 0.3s ease;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   z-indent: 2;
}

.navButton:hover {
   color: var(--Color-Highlight);
}

.navButton:first-of-type {
   left: 0;
}

.navButton:last-of-type {
   right: 0;
}

.carousel {
   display: flex;
   gap: 12rem;
   overflow-x: auto;
   scroll-behavior: smooth;
   scrollbar-width: none;
   -ms-overflow-style: none;
   padding: 10px 0;
   width: 80vw;
   white-space: nowrap;
}

.carouselTitle {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   max-width: 1200px; /* Matches container width */
   /* margin: 4rem auto 20px auto; */
   margin: 4rem auto 20px auto;
   padding: 0;
}

.carouselTitle h1 {
   font-family: var(--Font-Primary);
   font-size: 50px;
   font-weight: 500;
   /* font-size: clamp(24px, 4vw, 32px); */
   font-weight: bold;
   color: var(--Color-Highlight);
   margin: 0;
   flex: 1;
   text-align: left;
}

.carouselButton {
   /* font-size: clamp(14px, 2vw, 22px); */
   font-size: 20px;
   font-weight: 700;
   width: 165px;
   height: 55px;
   padding: 12px 24px;
   border-radius: 10px;
   box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
   background-color: var(--Color-Primary-Light);
   color: var(--Color-Highlight);
   cursor: pointer;
   border: none;
   transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
   white-space: nowrap;
   text-align: center;
}

.carouselButton:hover {
   box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
   background-color: var(--Color-Primary);
   color: var(--Color-Highlight-Light);
}

.carousel::-webkit-scrollbar {
   display: none;
}

.card {
   width: 350px;
   height: 500px;
   font-family: var(--Font-Primary);
   background: var(--Color-Highlight-Light);
   border-radius: 16px 16px 0 0;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   text-align: left;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   flex: 0 0 auto;
   background-color: var(--Color-Card-Background);
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

.card:hover {
   transform: scale(1.05);
   box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
   cursor: pointer;
}

.image {
   width: 100%;
   height: 200px;
   object-fit: cover;
   border-radius: 16px 16px 0 0;
   margin: 0;
}

.namePriceRow {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 12px;
   margin: 10px 10px 0 10px;
}

.itemName {
   font-family: var(--Font-Primary);
   font-size: 18px;
   font-weight: bold;
   color: var(--Color-Highlight);
   margin: 0;
   max-width: 65%;
   white-space: normal;
   overflow-wrap: break-word;
}

.price {
   font-family: var(--Font-Primary);
   font-size: 18px;
   font-weight: bold;
   color: var(--Color-Secondary);
}

.description {
   flex-grow: 1;
   height: auto;
   margin: 20px 10px 0 10px;
   padding: 12px;
   font-family: var(--Font-Secondary);
   font-size: 18px;
   line-height: 1.2;
   letter-spacing: 1px;
   color: var(--Color-Primary);
   word-wrap: break-word;
   white-space: normal;
}

.orderRow {
   display: flex;
   align-items: center;
   padding: 12px;
   margin-left: 10px;
   margin-bottom: 15px;
}

.orderText {
   font-size: 18px;
   font-weight: bold;
}

.bikeIcon {
   width: 24px;
   height: 24px;
   margin-left: 5px;
}

/* Responsiveness Design */

@media (max-width: 900px) {
   .carouselTitle {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 10px;
   }

   .carouselTitle h1 {
      font-size: 30px;
      text-align: center;
      flex: none; /* Prevent stretching */
   }

   .carouselButton {
      margin-top: 10px; /* Pushes button below title */
      font-size: 18px;
      padding: 12px 20px;
      width: 150px;
      height: 50px;
   }
}

/* @media (max-width: 768px) {
   .carousel {
      width: 90vw;
   }

   .carouselTitle {
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      margin-bottom: 10px;
   }

   .carouselTitle h1 {
      font-size: 24px;
      text-align: center;
   }

   .carouselButton {
      margin-top: 10px; 
      font-size: 18px;
      padding: 40px 5%;
   }

   .card {
      width: 260px;
      height: 550px;
   }

   .image {
      height: 180px;
   }

   .itemName {
      font-size: 16px;
   }

   .price {
      font-size: 16px;
   }

   .description {
      font-size: 16px;
   }

   .orderText {
      font-size: 13px;
   }
} */

@media (max-width: 500px) {
   .carouselTitle {
      width: 100%;
   }

   .carouselTitle h1 {
      font-size: 20px;
   }

   .carouselButton {
      font-size: 16px;
      padding: 10px 20px;
   }
}

@media (max-width: 320px) {
   .carouselTitle h1 {
      font-size: 18px;
   }

   .carouselButton {
      font-size: 14px;
      padding: 8px 16px;
   }
}
