.reservationForm {
   background-color: #f0f0f0;
   border-radius: 10px;
   width: 90vw;
   max-width: 900px;
   margin: 2em auto;
   margin-bottom: 3em;
}

.reservationForm > div {
   color: var(--Color-Highlight);
}

.reservationForm {
   display: grid;
   grid-template-columns: repeat(11, 1fr);
   gap: 0.25em;
   grid-auto-rows: minmax(2em, auto);
   padding: 1.5em 1em;
   background-color: lightgrey;
   font-size: clamp(1rem, 1.5vw, 1.2rem);
}

.error {
   color: red;
   font-size: 0.9rem;
}

input,
label,
select {
   display: block;
   width: 100%;
   padding: 0.5em;
   font-size: 1rem;
   border-radius: 5px;
}

.titleCell {
   grid-column: 1 / 12;
   grid-row: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: underline;
   color: var(--Color-Primary);
}
.nameCell {
   grid-column: 1 / 8;
   grid-row: 2 / 3;
}
.dateCell {
   grid-column: 1 / 4;
   grid-row: 3;
}
.timeCell {
   grid-column: 5 / 8;
   grid-row: 3;
}
.guestsCell {
   grid-column: 9 / 12;
   grid-row: 3;
}
.occasionCell {
   grid-column: 1 / 6;
   grid-row: 4;
}

.phoneCell {
   grid-column: 1 / 5;
   grid-row: 5;
}

.emailCell {
   grid-column: 6 / 10;
   grid-row: 5;
}

.buttonContainer {
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   margin-top: 1.25em;
   gap: 1em;
   grid-row: 6;
   grid-column: 8 / 12;
}

.buttonContainer button {
   padding: 0.75em 1em;
   font-size: 1rem;
   border-radius: 5px;
   cursor: pointer;
   font-weight: bold;
   min-width: 9em;
}

button {
   padding: 0.75em 1.25em;
   font-size: 1rem;
   border-radius: 5px;
   cursor: pointer;
   font-weight: bold;
}

.resetButton button {
   grid-column: 8 / 11;
   margin: 0 1em;
   display: flex;
   justify-content: center;
}

.continueButton button {
   grid-column: 10 / 12;
   margin: 0 2em 0 2em;
   display: flex;
   justify-content: flex-end;
}

button[type="submit"] {
   background-color: var(--Color-Primary);
   color: white;
}

button[type="button"] {
   background-color: #ccc;
   color: var(--Color-Primary);
   border: 3px solid var(--Color-Primary);
}

@media (max-width: 1024px) {
   .reservationForm {
      display: flex;
      flex-direction: column;
      width: 70%;
   }

   .nameCell,
   .dateCell,
   .timeCell,
   .guestsCell,
   .occasionCell,
   .phoneCell,
   .emailCell {
      width: 100%;
   }

   .resetButton,
   .continueButton {
      display: flex;
      justify-content: center;
      margin: 0.75em 0;
   }
}

@media (max-width: 768px) {
   .reservationForm {
      width: 100%;
   }

   .titleCell {
      font-size: 1.8rem;
   }

   input,
   select {
      font-size: 1.1rem;
      padding: 0.75em;
   }

   button {
      width: 100%;
   }
}
